<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title} + ' | ' + ${app}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="all" th:href="@{/css/app.css}" href="/css/app.css">
</head>

<body class="bg-gray-100">

<div class="flex" id="wrapper">

    <div th:replace="clerk/fragments/sidebar :: sidebar"></div>

    <div id="main" class="flex-grow">
        <div th:replace="clerk/fragments/topbar :: topbar"></div>
        <hr>

        <div id="content">
            <div class="flex items-center justify-between px-4 py-3">
                <h4 class="text-xl font-bold">Clerk Current Schedule Items</h4>
            </div>

            <div class="px-4">
                <table class="table-auto border-collapse border w-full">
                    <thead>
                    <tr>
                        <th class="px-4 py-2">ID</th>
                        <th class="px-4 py-2">Center</th>
                        <th class="px-4 py-2">Day Time</th>
                        <th class="px-4 py-2">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="scheduleItem : ${scheduleItems}">
                        <td class="border px-4 py-2" th:text="${scheduleItem.id}"></td>
                        <td class="border px-4 py-2" th:text="${scheduleItem.center.name}"></td>
                        <td class="border px-4 py-2" th:text="${scheduleItem.daytime}"></td>
                        <td class="border px-4 py-2 flex justify-center items-center">
                            <a class="flex items-center bg-blue-500 p-2"
                               th:href="${'/clerk/records/' + scheduleItem.center.id}">
                                <svg class="h-4 w-4 fill-current text-white" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                </svg>
                                <span class="ml-2 text-white text-xs">Record</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script src="/js/app.js" th:inline="javascript" th:src="@{/js/app.js}"></script>
</body>

</html>