<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title} + ' | ' + ${app}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="all" th:href="@{/css/app.css}" href="/css/app.css">
</head>

<body class="bg-gray-100">

<div class="flex" id="wrapper">

    <div th:replace="farmer/fragments/sidebar :: sidebar"></div>

    <div id="main" class="flex-grow">
        <div th:replace="farmer/fragments/topbar :: topbar"></div>
        <hr>

        <div id="content">
            <div class="flex items-center justify-between px-4 py-3">
                <h4 class="text-xl font-bold">Your Account</h4>
            </div>
            <div class="px-4 py-2">
                <div>
                    <h4 class="text-lg font-bold text-gray-900">Transaction Acc/No</h4>
                    <span class=" text-lg text-gray-700" th:text="${account.transactionAccNo}"></span>
                </div>
                <hr>
                <div class="mt-4">
                    <h4 class="text-lg font-bold text-gray-900">Account Balance</h4>
                    <span class=" text-lg text-gray-700" th:text="${account.accBal}"></span>
                </div>
                <hr>
                <div class="mt-4">
                    <h4 class="text-lg font-bold text-gray-900">Center</h4>
                    <span class=" text-lg text-gray-700" th:text="${account.center.name}"></span>
                </div>
                <hr>
                <div class="mt-4">
                    <h4 class="text-lg font-bold text-gray-900">Created At</h4>
                    <span class=" text-lg text-gray-700" th:text="${account.createdAt}"></span>
                </div>
                <hr>

                <div class="mt-4">
                    <h4 class="text-lg font-bold text-gray-900">Updated At</h4>
                    <span class=" text-lg text-gray-700" th:text="${account.updatedAt}"></span>
                </div>
                <hr>
                <hr>
                <div class="mt-6 flex justify-start items-center">
                    <a class="px-4 py-2 bg-blue-500 rounded"
                       th:href="${'/farmer/accounts/' + account.id + '/edit'}">Edit</a>

                    <a class="px-4 py-2 bg-blue-700 rounded ml-3"
                       th:href="${'/farmer/accounts/' + account.id + '/records'}">Tea Records</a>

                    <form th:action="${'/farmer/accounts/' + account.id + '/delete'}" method="post">
                        <button class="px-4 py-2 bg-red-500 rounded ml-3" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/js/app.js" th:inline="javascript" th:src="@{/js/app.js}"></script>
</body>

</html>