<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title} + ' | ' + ${app}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/app.css}" href="/css/app.css">
</head>

<body class="bg-gray-100">

    <div class="flex" id="wrapper">

        <div th:replace="admin/fragments/sidebar :: sidebar"></div>

        <div id="main" class="flex-grow">
            <div th:replace="admin/fragments/topbar :: topbar"></div>
            <hr>

            <div id="content">
                <div class="flex items-center justify-between px-4 py-3">
                    <h4 class="text-xl font-bold" th:text="${center.name}"></h4>
                </div>

                <div class="px-4">

                    <div>
                        <h4 class="text-lg font-bold text-gray-900">Name</h4>
                        <p class="mt-2 text-gray-700" th:text="${center.name}"></p>
                    </div>

                    <div class="mt-6">
                        <h4 class="text-lg font-bold text-gray-900">Location</h4>
                        <p class="mt-2 text-gray-700" th:text="${center.location.name}"></p>
                    </div>

                    <div class="mt-6">
                        <h4 class="text-lg font-bold text-gray-900">Farmers</h4>
                        <p class="mt-2 text-gray-700">0</p>
                    </div>

                    <div class="mt-6 flex justify-start items-center">
                        <a class="px-4 py-2 bg-blue-500 rounded"
                            th:href="${'/admin/centers/' + center.id + '/edit'}">Edit</a>

                        <form th:action="${'/admin/centers/' + center.id + '/delete'}" method="post">
                            <button class="px-4 py-2 bg-red-500 rounded ml-3" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/js/app.js" th:inline="javascript" th:src="@{/js/app.js}"></script>
</body>

</html>